<<<<<<< HEAD
<div class="movies">
=======
<div class="movie">
  <img class="img-square" src="" alt="{{title}}">
>>>>>>> 58307dd37b6118526fe39a9d9c9ffe97763c658c
  <h2>{{title}}</h2>
  <div>Genres: {{genres}}</div>
  <div>Director: {{director}}</div>
  <div>
    <img src="{{poster2}}" alt="ambulance-poster">
  </div>
  <div>Year: {{year}}</div>
  <div>Casts: {{casts}}</div>
  <div>Synopsis: {{synopsis}}</div>
  <div>Ratings: {{ratings}}</div>
  <div>
    {{>trailer}}
  </div>
  <div>{{>comments}}</div>
  <div>
    {{#each comments}}
    <li>{{this}}</li>
    {{/each}}
    </div>
</div>
<link