<div class="movies">
  <h2>{{title}}</h2>
  <h3>Genres</h3>
  <div>{{genres}}</div>
  <h3>Director</h3>
  <div>{{director}}</div>
  <div>
    <img src="{{poster2}}" alt="ambulance-poster">
  </div>
  <h3>Year</h3>
  <div>{{year}}</div>
  <h3>Casts</h3>
  <div>{{casts}}</div>
  <h3>Synopsis</h3>
  <div>{{synopsis}}</div>
  <h3>Ratings</h3>
  <h3>{{ratings}}</h3>
  <div>
    {{>trailer}}
  </div>
  <h3>Please write your comment!</h3>
  <div>{{>comments}}</div>
  </br>
  <a href="/">Homepage</a>
  <div>
  <h3>Comments</h3>
  {{#each comments}}
  <li>{{this}}</li>
  {{/each}}
  </div>
</div>
