<div class="movies">
  <img class="img-circle" src="" alt="{{title}}">
  <h2>{{title}}</h2>
  <div>Genre: {{genres}}</div>
  <div>Director: {{director}}</div>
  <div>
    <img src="{{poster2}}" alt="movie-poster">
  </div>
  <div>Year: {{year}}</div>
  <div>Cast: {{casts}}</div>
  <div>Synopsis: {{synopsis}}</div>
  <div>Ratings: {{ratings}}</div>
  <div>
  {{>trailer}}</div>


  <a href="/movies/{{id}}/edit">Edit</a>
</div>
<link