<div class="movies">
  <img class="img-circle" src="" alt="{{title}}">
  <h2>{{title}}</h2>
  <div>year: {{year}}</div>
  <div>director: {{director}}</div>
  <a href="/movies/{{id}}/edit">Edit</a>
</div>