<div class="movie">
  <h2>{{title}}</h2>
  <div>Genres: {{genres}}</div>
  <div>Director: {{director}}</div>
  <div class="movie"
    <img src="{{poster2}}" alt="ambulance-poster">
  </div>
  <div>Year: {{year}}</div>
  <div>Casts: {{casts}}</div>
  <div>Synopsis: {{synopsis}}</div>
  <div>Ratings: {{ratings}}</div>
  <div>
    {{>trailer}}
  </div>

  <a href="/movies/{{id}}/edit">Edit</a>
  <a href="/">Homepage</a>

</div>
<link