<div class="container">
  {{#each movies}}
  <div class="movie-list">
    <a href="/movies/{{id}}"><img class="img-square" src="{{poster}}" alt="{{title}}"></a>
  </div>
  {{/each}}
</div>

<div class="movie">
  <img class="img-square" src="" alt="{{title}}">
  <h2>{{title}}</h2>
  <img src="{{poster}}">